apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: prometheus-tls
  namespace: monitoring
spec:
  secretName: prometheus-tls
  issuerRef:
    name: letsencrypt-prod   # Must match your ClusterIssuer
    kind: ClusterIssuer
  dnsNames:
  - prometheus.sujeetkushwaha.shop
