apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:latest
        ports:
          - containerPort: 3000
        volumeMounts:
          - name: grafana-config
            mountPath: /etc/grafana/grafana.ini
            subPath: grafana.ini

          - name: grafana-dashboards
            mountPath: /etc/grafana/provisioning/dashboards/dashboards.yaml
            subPath: dashboards.yaml

          - name: dashboards-json
            mountPath: /var/lib/grafana/dashboards
      volumes:
        - name: grafana-config
          configMap:
            name: grafana-config

        - name: grafana-dashboards
          configMap:
            name: grafana-dashboards

        - name: dashboards-json
          configMap:
            name: grafana-dashboard-json
