name: Terraform GKE + Apps

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform-and-helm:
    name: Terraform Apply GKE & Deploy Apps
    runs-on: self-hosted

    env:
      GOOGLE_PROJECT: ${{ secrets.GCP_PROJECT_ID }}
      GOOGLE_REGION: "asia-south1"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Setup GCP Credentials
        uses: google-github-actions/setup-gcloud@v2
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          export_default_credentials: true

      - name: Terraform Init
        working-directory: ./infra
        run: terraform init

      - name: Terraform Plan
        working-directory: ./infra
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        working-directory: ./infra
        run: terraform apply -auto-approve tfplan

      # --------------------------
      # Helm Setup
      # --------------------------
      - name: Setup Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      # --------------------------
      # Ingress NGINX
      # --------------------------
      - name: Install Ingress NGINX
        run: |
          kubectl create namespace ingress-nginx --dry-run=client -o yaml | kubectl apply -f -
          helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
          helm repo update
          helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx \
            --namespace ingress-nginx

      # --------------------------
      # Cert-Manager
      # --------------------------
      - name: Install Cert-Manager
        run: |
          kubectl create namespace cert-manager --dry-run=client -o yaml | kubectl apply -f -
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm upgrade --install cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --set installCRDs=true
      
      # --------------------------
      # argocd
      # --------------------------     
      - name: Install argocd
        run: |
          kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -
          helm repo add argo https://argoproj.github.io/argo-helm
          helm upgrade --install argocd argo/argo-cd -n argocd
          
      #--------------------------
      #argocd apply
      #--------------------------
      - name: Apply Argocd YAMLs
        run: |
          kubectl apply -f argocd/

      # --------------------------
      # Prometheus + Grafana + Loki + Tempo
      # --------------------------
      - name: Install Monitoring Stack
        run: |
          kubectl create namespace monitoring --dry-run=client -o yaml | kubectl apply -f -
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo update

          # Prometheus + Grafana
          helm upgrade --install kube-prom-stack prometheus-community/kube-prometheus-stack \
            --namespace monitoring

          # Loki + Tempo
          helm upgrade --install loki grafana/loki-stack --namespace monitoring
          helm upgrade --install tempo grafana/tempo --namespace monitoring
